.product-card-wrapper {
  margin-bottom: 15%;
}

.product-card {
  min-height: 43vh;
  min-width: 25vw;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  padding: 10px;
  box-sizing: border-box;
  background-repeat: no-repeat;
  background-size: cover;
}

.product-details {
  text-align: center;
}

.product-card img {
  max-width: 100%;
  height: auto;
}

.delete-button {
  width: 15%;
  margin-left: 41%;
  background: none;
  border: none;
  cursor: pointer;
}